doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
  head
    meta(charset='utf-8')
    //- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noodp,noydir')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='description', content='Tabi Assist - Viaja, Disfruta, Explora')
    title Tabi Assist
    link(rel='icon', type='image/png', href='/favicon.png')

    //- Facebook
    meta(property='og:title', content='Tabi Assist')
    meta(property='og:description', content='Viaja, Disfruta, Explora')
    meta(property='og:image', content='/og_image.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    //- Styles
    link(rel='stylesheet', href='./css/index.css')

    //- if lt IE 9
      script(src='./js/html5shiv.js')
    //- if lt IE 9
      script(src='./js/respond.src.js')
    //- if lt IE 9
      link(rel='stylesheet', type='text/css', media='all', href='./css/ie8.css')
  body
    header(class="HeaderMain")
        div(class="HeaderMain__LogoMain")
            figure(class="HeaderMain__LogoMain__box")
                img(src="./images/logo-blanco@2x.png" id="logo_white")

        div(class="HeaderMain__NavMain")
            nav(class="HeaderMain__NavMain__Container")
                
                ul(class="HeaderMain__NavMain__Container__desktop")
                    li
                        span(href="#home" data-ancla="home") Home
                    li
                        span(href="#conocenos" data-ancla="conocenos") Conócenos
                    li
                        span(href="#beneficios" data-ancla="beneficios") Beneficios
                    li
                        a(href="/plataform-pricing/get/forget-pdf" id="btnNavPDF") Recuperar Poliza
                    li
                        span(href="#contactanos" data-ancla="contactanos") Escribenos
                
                div(class="HeaderMain__NavMain__Container__icons")
                    div(class="HeaderMain__NavMain__Container__icons--item")
                        figure
                            a(href="https://www.facebook.com/TabiAssist/" target="_blank")
                                img(src="./images/redes-sociales/facebook_white.png")
                    div(class="HeaderMain__NavMain__Container__icons--item")
                        figure
                            a(href="https://twitter.com/TabiAssist" target="_blank")
                                img(src="./images/redes-sociales/twitter_white.png")
                    div(class="HeaderMain__NavMain__Container__icons--item")
                        figure
                            a(href="https://www.instagram.com/tabiassist/" target="_blank")
                                img(src="./images/redes-sociales/instragam.png")
                    div(class="HeaderMain__NavMain__Container__icons--item HeaderMain__NavMain__Container__icons--menu_button")
                        figure
                            a(href="", id="menu-button")
                                img(src="./images/redes-sociales/menu-button.png")
                                    
                ul(class="HeaderMain__NavMain__Container__mobile", id="menu-mobile")
                    li(class="menuMobile-options")
                        span(href="#home" data-ancla="home") Home
                    li(class="menuMobile-options")
                        span(href="#conocenos" data-ancla="conocenos") Conócenos
                    li(class="menuMobile-options")
                        span(href="#beneficios" data-ancla="beneficios") Beneficios
                    li(class="menuMobile-options")
                        a(href="/plataform-pricing/get/forget-pdf" id="btnNavPDF") Recuperar Poliza
                    li(class="menuMobile-options")
                        span(href="#contactanos" data-ancla="contactanos") Escribenos
    
    a(name="home" id="home")
    section(class="CoverForm")
        div(class="CoverForm__box")
            div(class="CoverForm__title")
                div(class="CoverForm__title--Content")
                    h2 Más que un Seguro de Viaje,
                    h2 Una Tarjeta de Asistencia
                    p Una asistencia médica a tu alcance

                div(class="CoverForm__title--circles")
                    span(class="CoverForm__title--circlesItem" data-position="0")
                        article(style="background: white;")
                    span(class="CoverForm__title--circlesItem" data-position="1")
                        article
                    span(class="CoverForm__title--circlesItem" data-position="2")
                        article
                    span(class="CoverForm__title--circlesItem" data-position="3")
                        article

            
            div(class="CoverForm__form")
                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="input_origen") Origen
                        select(id="input_origen")
                          option(value="Perú") Perú
                          option(value="Argentina") Argentina
                          option(value="Mexico") Mexico
                          option(value="España") España

                    div(class="item  input__margin")
                        label(for="input_destino") Destino
                        select(id="input_destino")
                          option(value="Europa") Europa
                          option(value="Norte America") Norte America
                          option(value="Sur America") Sur America
                          option(value="America Central") America Central
                          option(value="Caribe") Caribe
                          option(value="Asia") Asia
                          option(value="Africa") Africa
                          option(value="Oceania") Oceania


                    div(class="item")
                        label(for="input_tipo_viaje") Tipo de Viaje
                        select(id="input_tipo_viaje")
                          option(value="Turismo, Negocio") Turismo, Negocio
                          option(value="Estudio") Estudio
                          option(value="Work and Travel") Work and Travel
                          option(value="Multiviaje") Multiviaje

                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="input_salida") Salida
                        //- input(id="input_salida" name="salida" type="date")
                        input(id="input_salida" name="salida" type="date" data-date="" data-date-format="DD MMMM YYYY" data-date-inline-picker="false" data-date-open-on-focus="true" min="" placeholder="dd/mm/aaaa")
                        div(class="iconToDate")
                            img(src="./images/ic_calendar@2x 2.png" alt="Date Picker" id="datepickericon")

                    div(class="item  input__margin")
                        label(for="input_regreso") Regreso
                        //- input(id="input_regreso" name="regreso" type="date")
                        input(id="input_regreso" name="regreso" type="date" data-date="" data-date-format="DD MMMM YYYY" data-date-inline-picker="false" data-date-open-on-focus="true" min="" placeholder="dd/mm/aaaa")
                        div(class="iconToDate")
                            img(src="./images/ic_calendar@2x 2.png" alt="Date Picker" id="datepickericon")

                    div(class="item")
                        label(for="input_dias") Dias
                        input(id="input_dias" name="dias" type="text" value="1" disabled)

                article(class="CoverForm__form--input")
                    div(class="item  input__margin")
                        label(for="input_pasajero") Pasajero (0 - 74)
                        div(class="counter")
                            aside(class="counter__left" id="left_counter_minus") 
                                p -
                            input(id="input_pasajero" name="pasajero" type="number" value="1" style="text-align: center;")
                            aside(class="counter__right" id="left_counter_plus") 
                                p +

                    div(class="item  input__margin")
                        label(for="input_adulto_mayor") Pasajero (75 - 84)
                        div(class="counter")
                            aside(class="counter__left" id="right_counter_minus") 
                                p -
                            input(id="input_adulto_mayor" name="adulto_mayor" type="number" value="0" style="text-align: center;")
                            aside(class="counter__right" id="right_counter_plus") 
                                p +

                    div(class="item")
                        label(for="input_code_promocion") Código Promoción
                        input(id="input_code_promocion" name="code_promocion" type="text")

                article(class="CoverForm__form--input")
                    div(class="item  input__email")
                        label(for="email") Correo
                        input(id="email" name="email" type="email")

                    div(class="item  btnCotizar")
                        button(id="btnFormCotizar") Cotizar

                article
                    p(id="message_error" style="display: none;") Error: mensaje campos no validos

    
    a(name="conocenos" id="conocenos")
    section(class="AboutUs")
        div(class="AboutUs__box")

            div(class="AboutUs__bottom")
                div(class="AboutUs__bottom--text")
                    h2 Conócenos
                    p Tabi Assist es una compañía Internacional dedicada a la asistencia integral al viajero especialistas en ventas de Asistencias de Viajes con una vasta experiencia a través de sus accionistas en el mercado turístico y con tecnología de punta.
                    p Estamos presentes en todo el mundo gracias a nuestra amplia red de más de 50,000 prestadores médicos en todo el mundo, que se adaptan a las necesidades de los viajeros actuales consiguiendo así ofrecerles mejores beneficios que un Seguro de Viaje con el fin de ofrecer a nuestro cliente una experiencia de viaje confortable y segura.

                div(class="AboutUs__bottom--icon")
                    article(class="item  item-left")
                        figure(class="image")
                            img(src="./images/aboutUs/sign-check-icon.png")
                        div(class="text")
                            h3 Experiencia
                            p Estamos 7 años en el mercado internacional, con más de 1 millón de clientes felices por año.
                    
                    article(class="item")
                        figure(class="image")
                            img(src="./images/aboutUs/sign-check-icon.png")
                        div(class="text")
                            h3 Aliados
                            p Trabajamos con las mejores empresas de Asistencia Integral, permitiendo obtener un rango de alcance operativo más amplio.
    
    a(name="beneficios" id="beneficios")
    section(class="Benefits")
        div(class="Benefits__box")
            div(class="Benefits__title")
                h2 Beneficios

            div(class="Benefits__Content")
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 ASISTENCIA MÉDICA
                        p Nuestro operadores enviaran un médico o ambulancia a donde se encuentre el pasajero o lo remitirán a un centro de salud cercano.
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 ODONTOLOGIA
                        p En caso de un problema dental agudo que cause dolor, nuestros operadores lo derivaran al centro odontológico más cercano para su atención.
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 REPATRIACION MÉDICA
                        p En caso de gravedad, nuestros operadores gestionaran y organizaran el traslado del pasajero a su lugar de residencia.
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 PERDIDA DE EQUIPAJE
                        p En caso de extravió del equipaje en su vuelo, usted recibirá una compensación complementaria una vez declarado “perdida de equipaje” por la aerolínea.
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 GASTOS POR CONVALECENCIA
                        p Pago del hospedaje del pasajero en caso de que el medico local y el medico indicado por Tabi Assist determinen la necesidad de prolongar la estadía del pasajero por convalecencia.
                article(class="Benefits__Content--item")
                    //- figure(class="image")
                    //-     img(src="./images/aboutUs/sign-check-icon.png")
                    div(class="text")
                        h3 EMBARAZO
                        p Te cuidamos durante tu embarazo, con una asistencia medica hasta la semana 24.
    
    a(name="contactanos" id="contactanos")
    section(class="ContactForm")
        div(class="ContactForm__box")
            div(class="ContactForm__text")
                h2 Escríbenos
                p Porque trabajamos con transparencia, queremos darte el mejor servicio y aclarar tus dudas. Escribenos y nuestro equipo te contactará en breve.

            div(class="ContactForm__form")
                div(class="ContactForm__form--input")
                    input(type="text" name="nombre" id="FormContactName" placeholder="Nombre")

                div(class="ContactForm__form--input")
                    input(type="text" name="email" id="FormContactEmail" placeholder="Email")

                div(class="ContactForm__form--input")
                    textarea(name="", id="FormContactMessage" cols="10", rows="4", placeholder="Escribe tu Mensaje")

                div(class="ContactForm__form--input to__right")
                    a(id="btnFormContactSend" class="btnFormContactSend") Enviar

                div(class="ContactForm__form--input")
                    p(style="display: none;" id="FormContactError") Mensaje de error 

        footer(class="FooterMain")
            div(class="FooterMain__right")
                article(class="FooterMain__right--logo")
                    figure
                        img(src="./images/logo-blanco@2x.png")

                article(class="FooterMain__right--redes-sociales")
                    div(class="FooterMain__right--redes-sociales--item")
                        figure
                            a(href="https://www.facebook.com/TabiAssist/" target="_blank")
                                img(src="./images/redes-sociales/facebook_white.png" width="30")
                    div(class="FooterMain__right--redes-sociales--item")
                        figure
                            a(href="https://twitter.com/TabiAssist" target="_blank")
                                img(src="./images/redes-sociales/twitter_white.png" width="30")
                    div(class="FooterMain__right--redes-sociales--item")
                        figure
                            a(href="https://www.instagram.com/tabiassist/" target="_blank")
                                img(src="./images/redes-sociales/instragam.png" width="30")

                article(class="FooterMain__right--text")
                    p Tabi Assist SAC - Todos los derechos reservados 2017

            div(class="FooterMain__left")
                article(class="FooterMain__left--icons")
                    figure
                        img(src="./images/footerMain/culqi_logo.png")
                    figure(style="padding-left: .7rem;")
                        img(src="./images/footerMain/visa_2.png")

                article(class="FooterMain__left--email")
                    figure
                        img(src="./images/footerMain/email.png")
                    div(class="text")
                        p(class="email") hola@assistabi.com

                article(class="FooterMain__left--text")
                    span
                        a(href="/preguntas_frecuentes_TabiAssist.pdf" target="_blank") Preguntas Frecuentes
                    span
                        a(href="/CondicionesGeneralesTabiAssist.pdf" target="_blank") Terminos y Condiciones
                    span
                        a(href="/PoliticaPrivacidadTabi.pdf" target="_blank") Politicas de Privacidad


    script(src='./js/jquery-1.9.1.js')
    script.
        var today = new Date()

        var today_day = today.getDate()
        var today_month = today.getMonth() + 1
        var today_year = today.getFullYear() 

        if(String(today_month).length < 2) {
            today_month = '0' + today_month;
        }

        if(String(today_day).length < 2) {
            today_day = '0' + today_day;
        }

        $('#input_salida')[0].min = `${today_year}-${today_month}-${today_day}`;

        $('#input_regreso')[0].min = `${today_year}-${today_month}-${today_day}`;

    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='https://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js')
    script(src='./js/mainMobile/index.js')
    script(src='./js/index.min.js')
    script.
        (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/0/c0f790a98809ee48c7aec2bb585bb305/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"))
    //- script(type="text/javascript").
    //-     window.__lc = window.__lc || {};
    //-     window.__lc.license = 8746231;
    //-     (function() {
    //-       var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    //-       lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    //-       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    //-     })();
    //- script(type="text/javascript" src="https://embed.modernapp.co/chat?code=950588721843b443037e51e120448dc0")
   
