doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
  head
    meta(charset='utf-8')
    //- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noodp,noydir')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='description', content='Tabi Assist - Viaja, Disfruta, Explora')
    title Tabi Assist
    link(rel='icon', type='image/png', href='../favicon.png')

    //- Facebook
    meta(property='og:title', content='Tabi Assist')
    meta(property='og:description', content='Viaja, Disfruta, Explora')
    meta(property='og:image', content='/og_image.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    //- Styles
    link(rel='stylesheet', href='../css/index.css')

    //- if lt IE 9
      script(src='./js/html5shiv.js')
    //- if lt IE 9
      script(src='./js/respond.src.js')
    //- if lt IE 9
      link(rel='stylesheet', type='text/css', media='all', href='./css/ie8.css')
  body
    header(class="HeaderMain")
        div(class="HeaderMain__LogoMain")
            figure(class="HeaderMain__LogoMain__box")
                img(src="../images/logo.png")


    section(class="PricingElements" data-id="#{code}")
        div(class="PricingElements__title")
            h2 Elige el mejor plan para ti
        div(class="PricingElements__box")
          div(class="PricingElements__form")
              div(class="CoverForm__form  content-form  color")
                  article(class="CoverForm__form--input")
                      div(class="item  input__margin")
                          label(for="input_origen") Origen
                          select(id="input_origen" data-value="#{purchase.origen}")
                            option(value="Perú") Perú
                            option(value="Argentina") Argentina
                            option(value="Mexico") Mexico
                            option(value="España") España

                      div(class="item  input__margin")
                          label(for="input_destino") Destino
                          select(id="input_destino" data-value="#{purchase.destino}")
                            option(value="Europa") Europa
                            option(value="Norte America") Norte America
                            option(value="Sur America") Sur America
                            option(value="America Central") America Central
                            option(value="Caribe") Caribe
                            option(value="Asia") Asia
                            option(value="Africa") Africa
                            option(value="Oceania") Oceania


                      div(class="item")
                          label(for="input_tipo_viaje") Tipo de Viaje
                          select(id="input_tipo_viaje" data-value="#{purchase.tipo_viaje}")
                            option(value="Turismo, Negocio") Turismo, Negocio
                            option(value="Estudio") Estudio
                            option(value="Work and Travel") Work and Travel
                            option(value="Multiviaje") Multiviaje

                  article(class="CoverForm__form--input")
                      div(class="item  input__margin")
                          label(for="input_salida") Salida
                          //- input(id="input_salida" name="salida" type="date" value="#{purchase.salida}")
                          input(id="input_salida" name="salida" type="date" data-date="" data-date-format="DD MMMM YYYY" data-date-inline-picker="false" data-date-open-on-focus="true" placeholder="dd/mm/aaaa" value="#{purchase.salida}")
                          div(class="iconToDate")
                              img(src="../images/ic_calendar@2x.png" alt="Date Picker" id="datepickericon")

                      div(class="item  input__margin")
                          label(for="input_regreso") Regreso
                          //- input(id="input_regreso" name="regreso" type="date" value="#{purchase.regreso}")
                          input(id="input_regreso" name="regreso" type="date" data-date="" data-date-format="DD MMMM YYYY" data-date-inline-picker="false" data-date-open-on-focus="true" placeholder="dd/mm/aaaa" value="#{purchase.regreso}")
                          div(class="iconToDate")
                              img(src="../images/ic_calendar@2x.png" alt="Date Picker" id="datepickericon")

                      div(class="item")
                          label(for="input_dias") Dias
                          input(id="input_dias" name="dias" type="text" value="#{purchase.dias}" disabled)

                  article(class="CoverForm__form--input")
                      div(class="item  input__margin")
                          label(for="input_pasajero") Pasajero (0 - 74)
                          //- input(id="input_pasajero" name="pasajero" type="number" value="#{purchase.pasajero}")
                          div(class="counter")
                              aside(class="counter__left" id="left_counter_minus") 
                                  p(style="color: white;") -
                              input(id="input_pasajero" name="pasajero" type="number" value="#{purchase.pasajero}" style="text-align: center;")
                              aside(class="counter__right" id="left_counter_plus") 
                                  p(style="color: white;") +

                      div(class="item  input__margin")
                          label(for="input_adulto_mayor") Adulto Mayor (75 - 84)
                          //- input(id="input_adulto_mayor" name="adulto_mayor" type="number" value="#{purchase.adulto_mayor}")
                          div(class="counter")
                              aside(class="counter__left" id="right_counter_minus") 
                                  p(style="color: white;") -
                              input(id="input_adulto_mayor" name="adulto_mayor" type="number" value="#{purchase.adulto_mayor}" style="text-align: center;")
                              aside(class="counter__right" id="right_counter_plus") 
                                  p(style="color: white;") +

                      div(class="item")
                          label(for="input_code_promocion") Código Promoción
                          input(id="input_code_promocion" name="code_promocion" type="text" value="#{purchase.promocion}")

                  article(class="CoverForm__form--input")
                      div(class="item  input__email")
                          label(for="email") Correo
                          input(id="email" name="email" type="email" value="#{purchase.email}")

                      div(class="item  btnCotizar")
                          button(id="btnFormCotizar") Cotizar
                  article
                    p(id="message_error" style="display: none;") Error: mensaje campos no validos

          div(class="PricingElements__list")
              each pack in packs

                  article(class="box__content")
                      div(class="box__left")
                        div(class="content")
                          h2 #{pack.title}
                          button(id="btnSeeBeneficios" class="btnSeeBeneficios" data-pack="#{pack.title}") Benefícios y Coberturas
                          
                      div(class="box__right")
                        div(class="box__right--price")
                          span(class="price-top")
                            p Días: #{pack.pack.days}
                            p Pasajeros: #{ cant_pasajeros }
                          span
                            p Total: #[span $#{pack.pack.tarifa}]

                        
                        div(class="box__right--button")
                          button(class="btnBuy" data-pack="#{pack.title}" data-price="#{pack.pack.tarifa}") COMPRAR
    div(id="ModalBox" style="display: none;")
        div(id="ModalBoxContent")
          div(class="text")
            div(id="btnClose")
              p X
            p(id="ContentMessage") Texto de mensaje
            

    script(src='../js/jquery-1.9.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='http://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js')
    script(src='../js/index.min.js')
    script.
        var $input_origen = $('#input_origen');
        var $input_destino = $('#input_destino');
        var $input_tipo_viaje = $('#input_tipo_viaje');

        // select origen
        for(var i = 0; i <= $input_origen.children().length - 1; i++) {

          if($input_origen.children()[i].value === $('#input_origen').data('value')) {
              $input_origen.children()[i].setAttribute('selected','selected');
          }
        }

        // select destino
        for(var i = 0; i <= $input_destino.children().length - 1; i++) {

          if($input_destino.children()[i].value === $('#input_destino').data('value')) {
              $input_destino.children()[i].setAttribute('selected','selected');
          }
        }

         // select tipo viaje
        for(var i = 0; i <= $input_tipo_viaje.children().length - 1; i++) {

          if($input_tipo_viaje.children()[i].value === $('#input_tipo_viaje').data('value')) {
              $input_tipo_viaje.children()[i].setAttribute('selected','selected');
          }
        }


