doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
  head
    meta(charset='utf-8')
    //- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noodp,noydir')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='description', content='Tabi Assist - Viaje Seguro con una Tarjeta de Asistencia')
    title Tabi Assist
    link(rel='icon', type='image/png', href='../../../../favicon.png')

    //- Facebook
    meta(property='og:title', content='Tabi Assist')
    meta(property='og:description', content='Viaje Seguro con una Tarjeta de Asistencia')
    meta(property='og:image', content='/og_image.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    //- Styles
    link(rel='stylesheet', href='../../../../css/index.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")


    //- if lt IE 9
      script(src='./js/html5shiv.js')
    //- if lt IE 9
      script(src='./js/respond.src.js')
    //- if lt IE 9
      link(rel='stylesheet', type='text/css', media='all', href='./css/ie8.css')
  body
    header(class="HeaderMain")
        div(class="HeaderMain__LogoMain")
            figure(class="HeaderMain__LogoMain__box")
                img(src="../../../../images/logo.png")


    section(class="PricingElements")
        div(class="PricingElements__title")
            h2 Admin Plataforma

        div(class="Admin_box Admin")
            div(class="actions")
                p Editar Orden N#{ order.account.numero_pedido }
                
            div(class="orders")
                article(style="padding: 1rem 0; border-bottom: 1px solid lightgray;")
                    div(style="display: inline-block; vertical-align: middle; text-align: left; width: 100%;")
                        div
                            b ORDER N#{ order.account.numero_pedido }
                            p(style="font-size: 10px;") id: #{ order._id }
                            p ticket: #{ order.account.ticket }
                            p(style="font-size: 12px;") Fecha Emitida: #{ order.account.fecha_creada }

                        div
                            p Tarifa: #{ order.pack_selected.tarifa }
                            p dias: #{ order.pack_selected.dias }
                            p plan: #{ order.pack_selected.title }

                        form(action="/admin/plataforma/orders/#{ order._id }?_method=put" method="post")
                            div(style="padding-top: 10px;")
                                strong Datos del cliente
                                div
                                    label Nombres:
                                    input(type="text", name="names", value="#{order.account.names}")

                                div
                                    label Apellidos:
                                    input(type="text", name="last_names", value="#{order.account.last_names}")


                                div
                                    label Tipo Documento:
                                    select(id="input_tipo_doc" value="#{order.account.tipo_doc}" name="tipo_doc")
                                      option(value="DNI") DNI
                                      option(value="Pasaporte") Pasaporte
                                      option(value="Carnet de Extranjeria") Carnet de Extranjeria

                                div
                                    label Numero Documento:
                                    input(type="text", name="doc_number", value="#{order.account.doc_number}")

                                div
                                    label Telefono:
                                    input(type="text", name="phone", value="#{order.account.phone}")

                                div
                                    label Dirección:
                                    input(type="text", name="address", value="#{order.account.address}")

                                div
                                    label ciudad:
                                    input(type="text", name="ciudad", value="#{order.account.ciudad}")

                                div
                                    label domicilio:
                                    input(type="text", name="domicilio", value="#{order.account.domicilio}")

                                div
                                    label fecha_nacimiento:
                                    input(type="text", name="fecha_nacimiento", value="#{order.account.fecha_nacimiento}")

                                div
                                    label email:
                                    input(type="text", name="email", value="#{order.account.email}")
        
                            div(style="padding-top: 10px;")
                                strong Contacto de Emergencia
                                div
                                    label Nombres:
                                    input(type="text", name="contact_emergencia_nombres", value="#{order.account.contact_emergencia.nombres}")

                                div
                                    label Apellidos:
                                    input(type="text", name="contact_emergencia_apellidos", value="#{order.account.contact_emergencia.apellidos}")

                                div
                                    label email:
                                    input(type="text", name="contact_emergencia_email", value="#{order.account.contact_emergencia.email}")

                                div
                                    label telefono:
                                    input(type="text", name="contact_emergencia_telefono", value="#{order.account.contact_emergencia.telefono}")
                            
                            div(style="padding-top: 10px;")
                                button(class="btn btn btn-success") Guardar


    script(src='../../../../js/jquery-1.9.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='https://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js')

